body.light-theme {
  background-color: #f8f9fa;
  color: #212529;
}

body.dark-theme {
  background-color: #1e0d0d;
  color: #f0f0f0;
}

.navbar {
  background-color: #1f1f2e;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #fdd835;
}

.navbar .nav-link:hover {
  color: #fff;
}

.tab-pane {
  padding: 30px;
}

button {
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.02);
}
